#header{
    width: 100vh;
    height: 70px;
    /* display: sticky; */
    /* position:fixed; top:0px; left:0px; right:0px; 
    height:70px; background:rgb(0, 0, 0) */

}


#header  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.left-nav{
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.left-nav .logo{
    margin-left: 30px;
    margin-top: 25px;
    cursor: pointer;
}

.left-nav .category{
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-left: 40px;
    margin-top: 25px;
    cursor: pointer;
}

.navbar .left-nav .category:hover{
  color:blue
}  

.left-nav .category i{
    margin-right: 10px;
}
  
/* .category .submenu{

    list-style: none;
}

.submenu .li :hover{
} */

/* .row{
    margin-top: 10px;
} */


.center-navbar{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: -250px;
    margin-top: -50px;
    
}


.center-navbar .tab{
    display: flex;
    margin-left: 500px;
}

.col-4 .center-navbar .tab ul{
    display: flex;
    list-style: none;
    margin-left: 420px;
    margin-top: 10px;
}

.center-navbar .tab ul li{
    margin-left: 20px;
    color: black;
    text-decoration: solid;
    cursor: pointer;
}
.center-navbar .tab ul li a{
    text-decoration: none;
    color: black;
}

.center-navbar .tab ul li a:hover{
    text-decoration: none;
    color: blue;
}

.right-nav{
    display: flex;
    justify-content: right;
}

.right-nav .search{
    margin-right: 30px;
    margin-top: -50px;
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: rgba(225, 225, 225, 0.619);
}



.right-nav .search input{
    width: 200px;
    height: 48px;
    position: absolute;
    margin-left: 50px;
    border: none;
    outline: none;
    background-color: rgba(143, 142, 142, 0);


}
/* 
.right-nav .sear:hover{
    color: blue;
} */

.sear{
    border: none;
    position: relative;
    background: none;
    margin-top: 13px;
    margin-left: 3px;
    opacity: 0.5;
}

.basket{
    border: none;
    position: relative;
    background: none;
     opacity: 0.5;
     display: block;
     margin-top: -26px;
     margin-left: 120px;

}

.free{
    cursor: pointer;
    margin-right: 90px;
    margin-top: -45px; 
}




/*////////// section-tutorial */

/*left-section */

#tutorial{
    width: 100%;
    height: 800px;
    background-color: rgba(128, 128, 128, 0.26);
    
}

#tutorial .left-section .animation-hero img{
    margin-left: 90px;
    margin-top: 150px;
    animation-name:  rotate ;
    animation-duration: 10s   ;
    animation-delay: 0s ;
    animation: rotate 10s linear infinite;

}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(280deg);}
    100%{transform: rotate(30deg);}
}

#tutorial .left-section .aqua-circle img{
    margin-top: 200px;
}

#tutorial .left-section .access{
    margin-left: 80px;
   margin-top: -330px;
}

#tutorial .left-section .online{
    margin-left: 80px;

}



#tutorial .left-section .online .onl-img span{
    position: relative;
    margin-top: 5px;
    font-size: 50px;
}


#tutorial .left-section .online .onl-img span img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: animas 2s linear infinite;
}

@keyframes animas {
    0% {
        transform: translateX(-50%) scaleX(0);
    }
    50% {
        transform: translateX(-50%) scaleX(1);
    }
    100% {
        transform: translateX(-50%) scaleX(0);
    }
}


#tutorial .left-section .online .view button{
    width: 200px;
    height: 45px;
    margin-top: 19px;
}

 
#tutorial .left-section .hero1-dot{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 90px;
}

#tutorial .left-section  .hero1-dot img{
    position: absolute;
    animation: fotos 10s linear infinite;
}

@keyframes fotos {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0); /* Orta pozisyon */
    }
    50% {
        transform: translate(-50%, -50%) translateY(-50px); /* Yukarı doğru hareket */
    }
    75%, 75% {
        transform: translate(-50%, -50%) translateY(50px); /* Aşağı doğru hareket */
    }
}



/* right-section */

#tutorial .right-section{
    position: relative;
}



#tutorial .right-section  .circlefio{
 position: relative;
 display: flex;
 margin-left: 75%;
 margin-top: -420px;
}

#tutorial .right-section  .circle-pink{
    position: relative;
    margin-left: 65%;
    margin-top: 40px;
}


#tutorial .right-section .dots{
    position: relative;
    margin-left: 95%;
    margin-top: -300px;
}


#tutorial .right-section .shekil1 img{
    position: absolute;
    margin-left: 50%;
    margin-top: -300px;
    border-radius: 20px 3px 20px 3px; 
}



#tutorial .right-section .sekil2 img{
    position: absolute;
    margin-left: 81.7%;
    margin-top: -250px;
    border-radius: 2px 23px 2px 23px; 
}



/* explore  */

/* up/ popular */

#explore .up-exp{
    margin-left: 70px;
    margin-top: 100px;
}

.popular span{
    position: relative;
    margin-top: 5px;
    font-size: 30px;
}


.popular span img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: animas 2s linear infinite;
}

@keyframes animas {
    0% {
        transform: translateX(-50%) scaleX(0);
    }
    50% {
        transform: translateX(-50%) scaleX(1);
    }
    100% {
        transform: translateX(-50%) scaleX(0);
    }
}

.right-up{
    display: flex;
    justify-content: end;
    margin-right: 75px;
    margin-top: -50px;
    cursor: pointer;
    color: black;
}

.right-up:hover{
    color: blue;
}

.left-courses .data-science .categorydata{
    display: flex;
    width: 350px;
    height: 80px;
    margin-top: 40px;
    border: 0.5px solid gray;
    border-radius: 3px;
}

.left-courses .data-science .categorydata:hover{
    background-color: blue;
    color: white;
}

.data-science .data-sci img{
    margin-top: -20x;
    margin-left: 20px;
}

.data-science .categorydata .data-sci .datas{
  margin-left: 120px;
  margin-top: -40px;
}



.left-banner .back{
    width: 90%;
    margin-top: 100px;
    position: relative;
}


.left-banner .back img{
    border-radius: 7px;
}

.left-banner .banner1{
    margin-top: -220px;
    margin-left: 230px;
    position: absolute;

}

.left-banner .write-free{
    background-color: rgba(218, 30, 61, 0.799);
    width: 50px;
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -220px;
    position: absolute;

}

.left-banner .write-free span{
   margin-left: 8px;
}

.left-banner .germany{
    margin-top: -180px;
    margin-left: 50px;
    position: absolute;
    cursor: pointer;
}

.left-banner .germany:hover{
 color: blue;
}


.button-banner1{
    margin-top: -100px;
    margin-left: 50px;
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgb(21, 21, 230);
}



.right-banner .back{
    width: 95%;
    margin-top: 100px;
    position: relative;
}


.right-banner .back img{
    border-radius: 7px;
}

.right-banner .banner1{
    margin-top: -220px;
    margin-left: 230px;
    position: absolute;

}

.right-banner .write-free{
    background-color: rgba(218, 30, 61, 0.799);
    width: 50px;
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -220px;
    position: absolute;

}

.right-banner .write-free span{
   margin-left: 8px;
}

.right-banner .germany{
    margin-top: -180px;
    margin-left: 50px;
    position: absolute;
    cursor: pointer;
}

.right-banner .germany:hover{
    color: blue;
}


.button-banner1{
    margin-top: -100px;
    margin-left: 50px;
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgb(21, 21, 230);
}
